
number= int(input("enter any number "))

print("\nThe prime numbers are", number, " : ")

for num in range(2, number + 1):

    i = 2

    for i in range(2, num):
        if(num % i == 0):
            i = num
            break;

  
    if(i != num):
        print(num, end=" ")
        
number= int(input("\n enter any numbers "))

print("\nthe  composite numbers are ", number, " : ")

for num in range(2, number + 1):

    i = 2

    for i in range(2, num):
        if(num % i != 0):
            i != num
            break;

   
    if(i != num):
        print(num, end=" ")
